@charset "utf-8";
@import"common";
$baseColor:#ff7200;
/*************************************
            index.html
*************************************/
.header{
    width: 100%;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    background-color: #FFFFFF;
    .top{
        width: 100%;
        height: 32px;
        line-height: 32px;
        background-color: #f2f2f2;
        font-size: 12px;
        .name{
            color: #666666;
            float: left;      
        }
        .fr{
            color: $baseColor;
            .login{
                color:$baseColor;
                padding: 0 5px;
                img{
                    vertical-align: middle;
                    margin-left: 35px;
                    margin-right: 5px;
                }
            }  
            .tel{
                color: #666666;
                img{
                    vertical-align: middle;
                    margin-left: 35px;
                    margin-right: 5px;
                }           
            }      
        }
    }
    .navbar{
        height: 80px;
        .logo{
            width: 166px;
            height: 80px;
            margin-right: 80px;
        }
        .nav{
            overflow: hidden;
            li{
                float: left;
                width: 100px;
                height: 40px;
                margin:20px;
                line-height: 40px;
                text-align: center;
                border-radius:5px;
                a{
                    color: #333;
                }
            }
            li.on{
                background-color:$baseColor;
                cursor: pointer;                
                a{
                   color: #fff; 
                }               
            }
            li:hover{
                background-color:$baseColor;
                transform: perspective(2000px) rotateX(360deg);
                transition: transform 1.5s;
                a{
                   color: #fff; 
                }
            }
        }
    }   
}
#canvas{
    width: 100%;
}
