@charset "UTF-8";
html {
  color: #000;
  border: none; }

body {
  font: 18px/1.5 arial,'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1',sans-serif;
  background-color: #F7F7F7; }

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0; }

fieldset, img, iframe {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: 400; }

ul, li, h1, h2, h3, p {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400; }

q:after, q:before {
  content: ""; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
  border: 1px solid #CCC;
  outline: 0px;
  resize: none; }

button {
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none; }

legend {
  color: #000; }

img {
  vertical-align: middle; }

em, i {
  font-style: normal; }

a {
  -webkit-touch-callout: none;
  text-decoration: none;
  outline: 0; }

::-webkit-input-placeholder {
  color: #AAA; }

input::-ms-clear, ::-ms-reveal {
  display: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear:after {
  display: block;
  content: '';
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both; }

/*两端对齐*/
.text_justify {
  text-align: justify;
  text-align-last: justify;
  display: inline-block;
  line-height: 0; }

.text_justify:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden; }

.w_1200 {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  font-family: "microsoft yahei"; }

/*************************************
            index.html
*************************************/
.header {
  width: 100%;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  background-color: #FFFFFF; }
  .header .top {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: #f2f2f2;
    font-size: 12px; }
    .header .top .name {
      color: #666666;
      float: left; }
    .header .top .fr {
      color: #ff7200; }
      .header .top .fr .login {
        color: #ff7200;
        padding: 0 5px; }
        .header .top .fr .login img {
          vertical-align: middle;
          margin-left: 35px;
          margin-right: 5px; }
      .header .top .fr .tel {
        color: #666666; }
        .header .top .fr .tel img {
          vertical-align: middle;
          margin-left: 35px;
          margin-right: 5px; }
  .header .navbar {
    height: 80px; }
    .header .navbar .logo {
      width: 166px;
      height: 80px;
      margin-right: 80px; }
    .header .navbar .nav {
      overflow: hidden; }
      .header .navbar .nav li {
        float: left;
        width: 100px;
        height: 40px;
        margin: 20px;
        line-height: 40px;
        text-align: center;
        border-radius: 5px; }
        .header .navbar .nav li a {
          color: #333; }
      .header .navbar .nav li.on {
        background-color: #ff7200;
        cursor: pointer; }
        .header .navbar .nav li.on a {
          color: #fff; }
      .header .navbar .nav li:hover {
        background-color: #ff7200;
        transform: perspective(2000px) rotateX(360deg);
        transition: transform 1.5s; }
        .header .navbar .nav li:hover a {
          color: #fff; }

#canvas {
  width: 100%; }

/*************************************
            article.html
*************************************/
.article_box {
  margin-top: 20px;
  overflow: hidden; }
  .article_box .left_box {
    width: 320px;
    float: left; }
    .article_box .left_box .left_nav {
      width: 300px;
      float: left;
      background-color: #FFFFFF;
      box-shadow: #CCCCCC 2px 3px 15px 3px;
      border-radius: 5px;
      margin: 10px; }
      .article_box .left_box .left_nav li {
        width: 100%;
        line-height: 60px;
        text-align: center;
        border-bottom: #F2F2F2 1px solid;
        cursor: pointer; }
        .article_box .left_box .left_nav li dl {
          display: none;
          font-size: 14px;
          color: #666666; }
          .article_box .left_box .left_nav li dl dd:hover {
            background-color: #ff7200;
            transform: perspective(2000px) rotateX(360deg);
            transition: transform 1s;
            color: #FFFFFF; }
    .article_box .left_box .hot_article {
      width: 300px;
      float: left;
      background-color: #FFFFFF;
      box-shadow: #CCCCCC 2px 3px 15px 3px;
      border-radius: 5px;
      margin: 10px;
      margin-top: 40px; }
      .article_box .left_box .hot_article .title {
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-bottom: #F2F2F2 1px solid; }
        .article_box .left_box .hot_article .title span {
          padding-left: 20px; }
  .article_box .right_box {
    width: 860px;
    float: right;
    overflow: hidden; }
    .article_box .right_box .box {
      width: 800px;
      padding: 20px;
      padding-bottom: 10px;
      margin: 10px;
      margin-bottom: 30px;
      background-color: #FFFFFF;
      box-shadow: #CCCCCC 2px 3px 15px 3px;
      border-radius: 5px;
      cursor: pointer; }
      .article_box .right_box .box .title {
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px; }
      .article_box .right_box .box .content {
        color: #666666;
        font-size: 14px;
        line-height: 2;
        text-indent: 2em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
      .article_box .right_box .box .foot {
        width: 100%;
        margin-top: 20px;
        overflow: hidden;
        border-top: #F2F2F2 1px solid;
        height: 50px;
        line-height: 50px; }
        .article_box .right_box .box .foot .time {
          float: left;
          color: #666666;
          font-size: 14px; }
        .article_box .right_box .box .foot .num {
          float: right;
          color: #666666;
          font-size: 14px; }
    .article_box .right_box .box:hover {
      box-shadow: #ff7200 2px 3px 15px 3px; }

/*# sourceMappingURL=style.css.map */
